<header>
	<div class="header__container">
		<div class="search__icon">
			<i class="fa fa-search"></i>
		</div>
		<a href="/" class="header__logo">
			<img width="70" src="/assets/img/logo/iris-logo.png">
		</a>
		<div class="links__icon">
			<i class="fa fa-bars"></i>
		</div>
		<ul class="header__links">
			<li><a href="/products/">Products</a></li>
			<li><a href="/solutions/">Solutions</a></li>
			<li><a class="active" href="/manual/">Manual</a></li>
			<li><a href="/resources/">Resources</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<div class="header__searchbar">
			<form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
                <input type="text" name="q" placeholder="Search by keyword" autofocus />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
		</div>
	</div>
</header>
