---
layout: default
---

                                    
<article class="home" role="article">

    <section class="landing" role="document">
        <h1 class="title type-mega" role="presentation">빅데이터 분석을 위한 최선의 솔루션</h1>
        <p class="type-beta">IRIS로 쉽고 빠른 빅데이터 분석</p>
        <a class="start-button" href="{{ '/documentation/tutorials/' | relative_url }}" role="link">Tutorials</a>
    </section>

    <section class="description" role="document">
        <h2 role="presentation">IRIS를 사용하여 대용량 데이터에 대한 쉽고 간편한 분석하세요.</h2>
        <p class="type-gamma">대용량 데이터를 빠르게 적재 할 수 있으며, 적재된 대용량 데이터를 쉽고 간편하게 분석 가능하며, Opensource 와 연계된 인터페이스를 제공합니다.</p>
    </section>

    <section class="companies" role="document">
        <h2 role="presentation">많은 기업에서 IRIS를 사용하고 있습니다.</h2>
        <div class="company-gallerys">

            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/sk_t.gif" alt="SK TELECOM" role="img"/></div>
            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/sk_b.gif" alt="SK BROADBAND" role="img"/></div>
            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/skcnc.gif" alt="SK 주식회사 C&C" role="img"/></div>
            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/lguplus.gif" alt="LG U PLUS" role="img"/></div>
            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/samsung_fire.gif" alt="삼성화재" role="img"/></div>
            <div class="gallery"><img src="http://mobigen.com/media/img/customer/logo/kisa.gif" alt="KISA" role="img"/></div>

        </div>
        <a class="showcases-button" href="/documentation/showcases/" role="link">See all showcases</a>
    </section>

    <section class="backers" role="document">
    </section>
</article>
